@import model.Transaction
@import model.CustomerAccount
@(debitForm : Form[Transaction])(customerAccounts : List[CustomerAccount])

<html>
    <head>
        <title>Debit</title>
    </head>
    <body>
        <h1>DEBIT</h1>
        @helper.form(action = routes.TransactionController.debitPost()){
            @helper.CSRF.formField
            @helper.select(
                field = debitForm("customerAccount"),
                options = customerAccounts.map(customerAccount => customerAccount.accountNumber.toString -> customerAccount.accountNumber.toString.concat(" balance:").concat(customerAccount.balance.toString)),
                '_label -> "Choose Account:"
            )
            @helper.inputText(debitForm("externalAccountNumber"), '_label -> "From Account")

            @helper.inputText(debitForm("description"), '_label -> "Operation description")

            @helper.inputText(debitForm("amount"), '_label -> "Amount", '_showConstraints -> false)

            <input type="submit" value="submit"/>
        }

    </body>
</html>