@import models.Transaction
@(transactions : List[Transaction])

<html>
<head>
  <title>History</title>
</head>
    <body>
      @for(transaction <- transactions){
        <a href="#">@transaction.transactionId</a>
          <p>Operation : @transaction.operation</p>
          <p>Description : @transaction.description</p>
          <p>Account : @transaction.customerAccount.accountNumber</p>
          <p>Amount : @transaction.amount</p>
          <p>Date : @transaction.date</p>
      }
    </body>
</html>
